html,
body {
    position: relative;
    color: #212121;
    height: 100%;
    min-height: 100%;
}

body>main {
    /* margin to account for nav bar */
    margin-top: 85px;
    margin-bottom: 20px;
}

main>.container {
    padding: 60px 15px 0;
}

.heroText {
    font-family: modesto-open-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    color: rgb(195, 255, 0);
}

.bgimage {

    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/GridBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.minHeight {
    min-height: 80vh;
}

/* Custom page CSS
  -------------------------------------------------- */

  html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

body>.container {
    padding: 60px 15px 0px;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.row>div {
    margin-bottom: 15px;
}

.content {
    min-height: 300px;
    background: #dbdfe5;
}

.content.bg-alt {
    background: #b4bac0;
}

.sidebar-top {
    min-height: 140px;
    background: #dbdfe7;
}

.sidebar-bottom {
    min-height: 145px;
    background: #7e8aa0;
    margin-bottom: -15px;
}

.sidebar,
.content {
    min-height: 300px;
}

.content-top {
    min-height: 160px;
    background: #b4bac0;
}

.content-bottom {
    min-height: 125px;
    background: #7e8aa0;
    margin-bottom: -15px;
}

.content-bottom.bg-alt {
    background: #9ca5b6;
}

.intro {
    background: #7e8aa0;
    min-height: 250px;
}

.section {
    min-height: 150px;
    background: #dbdfe5;
}

.section.bg-alt {
    background: #b4bac0;
}

@media (max-width: 991px) {
    .content-bottom {
        margin-bottom: 15px;
    }
    .content-bottom.bg-alt {
        margin-bottom: -15px;
    }
}